/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

body {
  background-color: #fff;
  font-family: 'Merriweather', Georgia, Palatino, serif;
  text-align: center;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 1.7em;
}
h3 {
  font-size: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-weight: 200;
}

p { margin: 1em 0; }

a, a:visited { 
  color: #4c57d8;
  border-bottom: 1px dotted #4c57d8;
  text-decoration: none;
}
a:hover {
  border-bottom: 1px solid #4c57d8;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

.posts li {
  line-height: 1.75em;
}

.posts .publish_date {
  color: #555;
  font-size: .9em;
  font-style: italic;
  display: inline-block;
  width: 7em;
}

.posts .post_title {
  font-family: 'Lato', 'Helvetica Neue', sans-serif;
  font-weight: 400;
}


/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.7em;
}

.header {
  border-bottom: solid #ddd 1px;
}

.title img {
  vertical-align: -20%;
  height: 1.2em;
  padding: 0 0.2em;
}

.header a {
  border: 0;
}

.clear {
  clear: both;
}

.title a {
  color: #369;
}

.title a:hover {
  color: #5485B6;
  border: 0;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
  font-style: italic;
}

.footer {
  font-size: .7em;
  color: #aaa;
  border-top: 1px solid #ddd;
  margin-top: 20px;
  padding-top: 15px;
  overflow: hidden;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

blockquote {
  padding: 0.5em;
  background: #eee;
}

blockquote p {
  padding: 0;
  margin: 0;
}